<h1>メッセージ</h1>

<%= form_for(@message, url: {controller: :messages, action: :create}, html: {method: "post"}) do |f| %>

<%#= form_for(@user, url: {controller: :entries, action: :create}, html: {method: "post"}) do |f| %>

  <div class = "field">
   <%= f.label :メッセージ %>
   <%= f.text_field :body %>
  </div>

  <div class ="actions">
  <%= f.hidden_field :client_id, :value => params[:client_id] %>
  <%= f.hidden_field :user_id, :value => params[:user_id] %>
  <%= f.submit "submit" %>

  <% end %>

  <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
  </div>

  
  <h1>メッセージボックス</h1>
  <ul>
    <% current_user.messages.where(client_id: params[:client_id]).each do |message| %>
    <li>
    <%= message.body %>
    </li>
    <% end %>
  </ul>