
  <h1>企業様 ログイン</h1>

  <%= form_for @client, :url => {:controller => 'client_sessions', :action => 'create'} do |f| %>

    <div class="field">
      <%= f.label :mail %>
      <%= f.text_field :mail %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class ="actions">
      <%= f.submit "submit" %>
    </div>

  <% end %>