  <div class="content">
    <div class="contents-head">
      <div class="table_row clear mt_30 mb_30">
        <div class="cols_3 v_middle">
          <h1 class="txt_size_20">求人への応募</h1>
        </div>
        <div class="cols_9">
          <ul class="step_chart step_chart__cols3">
            <li class="step_chart__cols active">
              <span class="step_chart__cols__block">応募、および基本情報の登録</span>
            </li>
            <li class="step_chart__cols">
              <span class="step_chart__cols__block">登録内容の確認</span>
            </li>
            <li class="step_chart__cols">
              <span class="step_chart__cols__block">登録完了</span>
            </li>
          </ul>
        </div>
      </div>

      <section class="box-pt1 mt_20 mb_20">
        <div class="heading2-pt2 heading2-pt2--border-bt">
          <h2>応募する案件</h2>
        </div>

        <div class="job-data-min mt_10">
          <%#= image_tag(@job.search_list_photo) %>

            <div class="job-data-min__info">
              <span class="job-cmp"><%= @job.client.name %></span>
              <p class="job-title"><%= @job.title %>
              </p>
            </div>
        </div>
      </section>
    </div>

    <h2 class="heading2-pt6 bt_30">基本情報</h2>
<%= form_for(@entry, url: {controller: :entries, action: :confirm}, html: {method: "post"}) do |f| %>
<%= render 'entries/error_message' %>
<section class="box-pt2 mb_30">
  <table class="table table-set--pt1 table--thd-20 w-block txt_size_12">
    <colgroup>
        <col style="width:200px;">
    </colgroup>
    
    <head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="content-type-style" content="text/css" />
<meta http-equiv="content-type-script" content="text/javascript" />
<title>簡単にフォームの入力チェックが行えるjquery.validate.js</title>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="jquery.validate.min.js"></script>
<script type="text/javascript">

$(function(){
  $("form").validate({
    rules: {
      name :{
        required: true
      },
      name_kana :{
        required: true
      },
      mail :{
        required: true,
        mail: true
    },
    messages: {
      name :{
        required: "お名前を入力してください"
      },
      name_kana :{
        required: "URLを入力してください"
      },
      mail :{
        required: "メールアドレスを入力してください",
        mail: "正しいメールアドレスを入力してください"
      }
      
    }
  });
})
</script>
</head>

    <tbody>

    

    <tr>
      <th><%= f.label :名前 %><span class="label label--pt3 label--small">必須</span>
      </th>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :ふりがな %><span class="label label--pt3 label--small">必須</span>
      </th>
      <td>
        <%= f.text_field :name_kana %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :メールアドレス %><span class="label label--pt3 label--small">必須</span>
      </th>
      <td>
        <%= f.text_field :mail %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :都道府県 %><span class="label label--pt3 label--small">必須</span>
      </th>
      <td>
        <%= f.select :prefecture_id, Prefecture.all.map { |p| [p.name, p.id] } %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :市区町村 %><span class="label label--pt3 label--small">必須</span>
      </th>
      <td>
        <%= f.text_field :city %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :希望職種 %><span class="label label--pt3 label--small">必須</span>
      </th>
      <td>
        <% @job.job_types.each do |job_type| %>


      
        <%= f.check_box :job_type_ids, { multiple: true,
                                         checked: job_type[:checked],
                                         disabled: job_type[:disabled],
                                         include_hidden: false
                                         },
                                        job_type.id,
                                        nil %>
        <%= job_type.name %>
        <% end %>
      </td>
      </tr>



      <class=  ></class>
    </tbody>
  </table>
</section>

<section class="box-pt3 p_20 t_center txt_size_14">

      <% if session[:user].present? %>
        <p><a href="/info/terms" target="_blank">利用規約</a>に同意して</p>
        <%= f.hidden_field :job_id, :value => @job.id %>
        <%= f.hidden_field :user_id, :value => session[:user] %>
        <%= f.hidden_field :selection_status_id, :value => 1 %>
        <%= f.submit "応募する", class: "btn btn--pt3 btn--large w-280px submit_btn" %>

      <% else %>
        <div>
        <strong>応募するにはログインが必要です</strong>
        </div>
        <%= link_to "ログイン画面へ", new_user_session_path, class: "btn btn--pt3 btn--large w-280px submit_btn" %>
      <% end %>

      <% end %>
    </section>
  </div>
