 <!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" media="all" href="https://client.relax-job.com/assets/client_frontend/application-9cb4b3c70c51f887f5ef49a196dca440.css">
</head>
<body>




  <div class="cl__wapper">
      <div class="cl__sidebar">
        <ul class="sidebar-menu">


        <li class="sidebar-menu__i-home">
          <%= link_to "HOME", admin_top_path %>
        </li>

        <li class="sidebar-menu__i-application">
          <%= link_to "応募一覧", job_entries_path %>
        </li>

        <li class="sidebar-menu__i-message">
          <%= link_to "メッセージ", message_index_path %>
        </li>

        <li class="sidebar-menu__i-scouts">
          <%= link_to "スカウト", new_scout_path(client_id: current_client.id, job_id: current_client.jobs.first.id) %>
        </li>

        <li class="sidebar-menu__i-jobs">
          <%= link_to "求人管理", client_jobs_path %>
        </li>

        <li class="sidebar-menu__i-shop">
          <%= link_to "店舗一覧", shop_index_path %>
        </li>
        </ul>
      </div>
  <!-- cl__sidebar -->

  <div class="cl__content">
    <h1 class="heading1-pt1">応募一覧</h1>

<!-- 期限切れ -->


<!-- モーダル  -->
<div id="popDiv_id" style="position: fixed; z-index: 11000; left: 50%; margin-left: -420px; top: 30px;">
  <div id="modal-content"></div>
</div>

<div class="info-box info-box--pt5 txt_size_12 mb_10">
  <p>【入社日の定義】</p>
  <p>給与の発生の有無に関わらず、</p>
  <p><strong>研修</strong>や<strong>技術指導</strong>、<strong>練習</strong>、<strong>試用期間</strong>、<strong>体験入店等</strong>、</p>
  <p>何らかの形でご出社を開始された日が、リジョブでのご入社日となります。</p>
</div>

<div class="tab-area">

<!-- タブ -->
  <ul class="tab-cl txt_size_13 mt_5">
  <li>
    <a class="active" href="/clients/4945/job_entries?order=desc&amp;sort=new&amp;tab=all">
      全て<span class="txt_size_10"></span>
   </a>
  </li>
  </ul>
</div>

<div class="js-tab-cl--content">
  <!-- 検索軸 -->
  <div class="clear p_20">
    <!-- <a id="search_form_toggle" class="btn btn--small f_right btn--pt6" href="#">応募者を絞り込む</a> -->
    <%= form_for(@user, url: {controller: :job_entries, action: :search}, html: {method: "get"}) do |f| %>
      <div class="content__search-box">
 
    
    <table class="table table-set--client-search w-block txt_size_12">
      <colgroup>
        <col style="width: 10%;">
        <col style="width: 40%;">
        <col style="width: 10%;">
        <col style="width: 40%;">
      </colgroup>

      <tbody class="table-search__conditions">
        <tr>
          <th></th>
          <td>
          <%#= f.select :prefecture_id, Prefecture.all.map { |p| [p.name, p.id] }, selected:@prefecture.try(:id), include_blank: "選んでちょんまげ"  %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="content__search-box__action">
      <%#= f.submit "検索する", class: "btn btn--pt5 w-200px " %>
    </div>
    <input type="hidden" name="tab" id="tab" value="new">
    <input type="hidden" name="sort" id="sort" value="new">
    <input type="hidden" name="order" id="order" value="desc">
    <input type="hidden" name="site_id" id="site_id" value="1">
    <input type="hidden" name="client_shop_id" id="client_shop_id">
    <input type="hidden" name="job_id" id="job_id">
  </div>
<% end %>
    
    <ul class="pagination--pt1 f_right">
      <li></li>
    </ul>
  </div>

  <table class="table table-set--pt3 table--thd-pt1 txt_size_12 mb_10">
    <colgroup>
      <col style="width:28%;">
      <col style="width:180px;">
      <col style="width:180px;">
      <col style="width:auto;">
      <col style="width:160px;">
      <col style="width:110px;">
    </colgroup>

    <tbody>
      <tr>
        <th>氏名／基本情報</th>
        <th>
          <span class="__action-area__btn-area">
            <!-- ソート -->
            応募日
          </span>
        </th>
        <th>
          応募先情報
        </th>
        <th>
          メモ
        </th>
        <th>採用ステップ</th>
        <th class="t_right">アクション</th>
      </tr>


      
        <% current_client.jobs.each do |jobs| %>
        <% jobs.entries.each do |entry| %>
        
        <tr>
        <td>
          <p class="mb_5">
            <span class="txt_size_14">
              
              <strong>
                <% if entry.selection_status.id == 1 %>
                  【氏名】※選考中に切り替えたら閲覧できます

                <% elsif entry.selection_status.id == 2 %>
                  【氏名】<%= entry.user.name %>
                <% elsif entry.selection_status.id == 3 %>
                  【氏名】<%= entry.user.name %>
                <% elsif entry.selection_status.id == 4 %>
                  【氏名】非表示
                <% else %>
                  【氏名】非表示
                <% end %>              
            </strong>
            </span>
          </p>

          <p>
            <span class="ml_5">
                【現住所】<%= entry.user.prefecture.name %>
            </span>
          </p>
          
        </td>

        <td>
          <span class="txt_size_11"><%= entry.created_at %></span><br>
        </td>

        <td>
          <%= entry.job.title %>
        </td>

        <td>
      
        </td>

        <td>
          <%= form_for(@entry, url: {controller: :job_entries, action: :selection_status_update}, html: {method: "post"}) do |f| %>

              選考状況:
              <% if entry.selection_status.id == 1 %>
              <%= f.select :selection_status_id, [["新規応募","1"],["選考中","2"],["不採用","4"]], selected:entry.selection_status.id %>
              <%= f.hidden_field :id, :value => entry.id %>
              <%= f.submit "更新" %>

              <% elsif entry.selection_status.id == 2 %>
                <%= f.select :selection_status_id, [["選考中","2"],["採用","3"],["不採用","4"]], selected:entry.selection_status.id %>
              <%= f.hidden_field :id, :value => entry.id %>
              <%= f.submit "更新" %>

              <% elsif entry.selection_status.id == 3 %>
              採用
              <% elsif entry.selection_status.id == 4 %>
              不採用
              <% else %>
              辞退

              <% end %>
            <% end %>
        </td>

        <td class="t_right">
          <%= link_to "メッセージ", message_new_path(client_id: current_client.id, user_id: entry.user.id), class:"btn btn--xxsmall mb_1" %>
            
          </a>
          
        </td>
      </tr>

        <% end %>
        <% end %>

       </tbody>
       </table>
       </div>
       </div>
       </div>
       </body>
       </html>