<h1>案件作成フォーム</h1>

<div>
貴社の店舗一覧
<ul>
  <li>
    <% current_client.shops.each do |shop| %>
    店舗ID:<%= shop.id %>
    店舗名:<%= shop.name %>
    <% end %>
  </li>
</ul>
</div>
<br></br>

<%= form_for(@job, html: {multipart: true}) do |f| %>

  <div class="field">
    <%= f.label :店舗ID %>
    <%= f.text_field :shop_id %>
  </div>

  <span class="picture">
    <%= f.label :案件詳細用の写真 %>
    <%= f.file_field :top_photo %>
  </span>

  <span class="picture">
    <%= f.label :検索一覧用の写真 %>
    <%= f.file_field :search_list_photo %>
  </span>


  <div class="field">
    <%= f.label :案件名 %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :都道府県 %>
    <%= f.select :prefecture_id, Prefecture.all.map { |p| [p.name, p.id] } %>
  </div>

  <div class="field">
    <%= f.label :市区町村 %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :給与 %>
    <%= f.text_field :salary %>
  </div>

  <div class="field">
    <%= f.label :メッセージ %>
    <%= f.text_field :message %>
  </div>

  <div class ="actions">
  <%= f.hidden_field :client_id, :value => params[:client_id] %>
  <%= f.submit "submit" %>

<% end %>




<div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
</div>