<h1>プロフィールの編集</h1>

  <%= form_for @user, :url => {:controller => 'users', :action => 'edit'}  do |f| %>
      <%#= render 'shared/error_messages' %>

      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :ふりがな %>
      <%= f.text_field :name_kana, class: 'form-control' %>

      <%= f.label :メールアドレス %>
      <%= f.text_field :mail, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.text_field :password, class: 'form-control' %>

      <%= f.label :確認用パスワード %>
      <%= f.text_field :password_confirmation, class: 'form-control' %>

      <%= f.label :都道府県 %>
      <%= f.text_field :prefecture_id, class: 'form-control' %>

      <%= f.label :市区町村 %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>