  <div class="content content--mypage">
    <div class="content-head">
      <ul class="breadcrumb--pt1">
        <li><a href="/">プチリジョブ</a></li><li>基本情報編集
        </li>
      </ul>
      <h2 class="heading1-pt1">マイページ</h2>
    </div>

    <div class="mypage-side">
      <div class="mypage-side">
        <ul class="mypage-navi">
          <li><%= link_to "マイページ", "/users/#{current_user.id}" %></li>
          <li><%= link_to "スカウト管理", "/users/#{current_user.id}/scout_status" %></li>
          <li><%= link_to "キープ", "/users/#{current_user.id}/keep_status" %></li>
          <li><%= link_to "応募管理", "/users/#{current_user.id}/entry_status" %></li>
          <li><%= link_to "メッセージ", "/messages" %></li>
          <li><%= link_to "プロフィール", "/users/#{current_user.id}/edit" %></li>
      </ul>
    </div>
  </div>

  <div class="mypage-main">
      
    <h2 class="heading2-mypage">基本情報</h2>
      <div class="info-box info-box--pt3 mb_30">
        <ul>
            <li>エントリーシートに反映される情報です。応募先企業には個人情報も公開されます。</li>
            <li>また、企業がスカウトをかける際に、お名前・ご連絡先・ご住所を除くプロフィールが公開されます。</li>
            <li>自己PRや経歴などを詳しくご記入いただくと、スカウトや採用をされる確率がアップします。</li>
        </ul>
      </div>

<%= form_for @user, :url => {:controller => 'users', :action => 'edit'}  do |f| %>
  <section>
    <table class="table table--thd-20_10 txt_size_12 table-set--pt4">
      <colgroup>
        <col style="width:160px;">
      </colgroup>

      <tbody>
        
          <tr>
            <th><%= f.label :名前 %><span class="label label--pt3 label--small">必須</span>
            </th>

              <td>
                <%= f.text_field :name, class: 'form-control' %>
              </td>
          </tr>

          <tr>
            <th><%= f.label :ふりがな %><span class="label label--pt3 label--small">必須</span>
            </th>
              <td>
                <%= f.text_field :name_kana, class: 'form-control' %>
              </td>
          </tr>

          <tr>
            <th><%= f.label :メールアドレス %><span class="label label--pt3 label--small">必須</span>
            </th>
              <td>
                <%= f.text_field :mail, class: 'form-control' %>
              </td>
          </tr>

          <tr>
            <th><%= f.label :パスワード %><span class="label label--pt3 label--small">必須</span>
            </th>
              <td>
                <%= f.text_field :password, class: 'form-control' %>
              </td>
          </tr>

          <tr>
            <th><%= f.label :確認用パスワード %><span class="label label--pt3 label--small">必須</span>
            </th>
              <td>
                <%= f.text_field :password, class: 'form-control' %>
              </td>
          </tr>

          <tr>
            <th><%= f.label :都道府県 %><span class="label label--pt3 label--small">必須</span>
            </th>
              <td>
                <%= f.select :prefecture_id, Prefecture.all.map { |p| [p.name, p.id] }, class: 'form-control' %>
              </td>
          </tr>

          <tr>
            <th><%= f.label :市区町村 %><span class="label label--pt3 label--small">必須</span>
            </th>
              <td>
                <%= f.text_field :city, class: 'form-control' %>
              </td>
          </tr>

          

        </tbody>
      </table>
      
</section>
<div class="p_15 t_center">
        <%= f.submit "保存する", class: "btn btn--pt1 btn--large w-280px" %>
      </div>
     <% end %>

    </div>
    <!-- content-main--mypage -->
  </div>
  <!-- warrper--mypage -->
</div>
