<div class="content content--mypage">
    <div class="content-head">
      <ul class="breadcrumb--pt1">
        <li><a href="/">プチリジョブ</a></li><li>キープ
        </li>
      </ul>
      <h2 class="heading1-pt1">マイページ</h2>
    </div>

    <div class="mypage-side">
      <div class="mypage-side">
        <ul class="mypage-navi">
          <li><%= link_to "マイページ", "/users/#{current_user.id}" %></li>
          <li><a href="/mypage/job_scouts" false="">スカウト管理※</a></li>
          <li><%= link_to "キープ", "/users/#{current_user.id}/keep_status" %></li>
          <li><%= link_to "応募管理※", "/users/#{current_user.id}/entry_status" %></li>
          <li><%= link_to "メッセージ※", "/users/#{current_user.id}/keep_status" %></li>
          <li><%= link_to "プロフィール", "/users/#{current_user.id}/edit" %></li>
      </ul>
    </div>
  </div>

  <div class="mypage-main">
      
<h2 class="heading2-mypage">応募管理</h2>

<!-- 要編集 -->

<div id="entry-list-popDiv_id" class="popDiv_id">
  <div id="mypage_modal-content">
  </div>
</div>
<div class="entries-list-header-wrap">
  <ul class="js-tab-nav js-tab-nav--pt2 txt_size_12">
    <li><a href="/mypage/entries?tab=all" class="active">全て表示</a></li>
    <li>
        <a href="/mypage/entries?tab=new" false="">新規応募</a>
    </li>
    <li>
        <span class="disabled">選考中</span>
    </li>
    <li>
        <span class="disabled">採用</span>
    </li>
    <li class="float_right">
        <span class="disabled">不採用・辞退</span>
    </li>
  </ul>
  <div class="js-tab-cont">
    <section>
      <div class="mypage-box">
        <div class="mypage-box__header">
          
        </div>
        <div class="mypage-box__content">
          <table class="table table-set--pt5 table--thd-pt3">
            <colgroup>
              <col style="width: 60px;">
              <col style="width: 160px;">
              <col style="width: auto">
              <col style="width: 100px;">
            </colgroup>
            <tbody>
            <tr>
              <th>状況</th>
              <th>
                <select name="sort" id="select-order" class="select--sort" data-location="/mypage/entries" data-tab="all"><option value="entry_date">応募日</option>
                <option value="next_interview_date">次回の面接日</option></select>
              </th>
              <th>案件名</th>
              <th class="txt_size_10">リジョブへの報告</th>
            </tr>
<!-- 要編集 -->

            <tr>
              <% current_user.entries.each do |entries|  %>
                  <td>
                      <div class="sprite_mypage-status mypage-status-sinki"></div>
                  </td>

                  <td>
                    <span class="txt_size_10">
                      応募日：<%= entries.job.created_at %><br>
                    </span>
                  </td>

                  <td>
                    <div class="job-data-min">
                      

                      <div class="job-data-min__info">
                        <span class="job-cmp"><%= entries.job.client.name %></span>
                        <p class="job-title">
                          <%= link_to entries.job.title, "/jobs/#{entries.job.id}" %>
                        </p>
                      </div>
                    </div>
                  </td>

                  <td>
                      <a class="btn btn--xxsmall w-block mb_1 not-adopted-btn" data-id="600893" href="">辞退</a>

                  </td>
                </tr>
            </tbody>

            <% end %>

          </table>
        </div>
        <div class="mypage-box__footer">
          
        </div>
      </div>
    </section>
  </div>
</div>

    </div>
    <!-- content-main--mypage -->
  </div>
  <!-- warrper--mypage -->
</div>