<div class="content content--mypage">
    <div class="content-head">
      <ul class="breadcrumb--pt1">
        <li><a href="/">プチリジョブ</a></li><li>キープ
        </li>
      </ul>
      <h2 class="heading1-pt1">マイページ</h2>
    </div>

    <div class="mypage-side">
      <div class="mypage-side">
        <ul class="mypage-navi">
          <li><%= link_to "マイページ", "/users/#{current_user.id}" %></li>
          <li><%= link_to "スカウト管理", "/users/#{current_user.id}/scout_status" %></li>
          <li><%= link_to "キープ", "/users/#{current_user.id}/keep_status" %></li>
          <li><%= link_to "応募管理", "/users/#{current_user.id}/entry_status" %></li>
          <li><%= link_to "メッセージ", "/messages" %></li>
          <li><%= link_to "プロフィール", "/users/#{current_user.id}/edit" %></li>
      </ul>
    </div>
  </div>

  <div class="mypage-main">
      
<h2 class="heading2-mypage">応募管理</h2>

<!-- 要編集 -->

<div id="entry-list-popDiv_id" class="popDiv_id">
  <div id="mypage_modal-content">
  </div>
</div>
<div class="entries-list-header-wrap">
  <ul class="js-tab-nav js-tab-nav--pt2 txt_size_12">
    <li><a href="/mypage/entries?tab=all" class="active">全て表示</a></li>
  </ul>
  <div class="js-tab-cont">
    <section>
      <div class="mypage-box">
        <div class="mypage-box__header">
          
        </div>
        <div class="mypage-box__content">

          <table class="table table-set--pt5 table--thd-pt3">
            <colgroup>
              <col style="width: 60px;">
              <col style="width: 160px;">
              <col style="width: auto">
              <col style="width: 100px;">
            </colgroup>

            <tbody>

            <tr>
              <th>状況</th>
              <th>応募日</th>
              <th>案件名</th>
              <th class="txt_size_10">リジョブへの報告</th>
            </tr>
<!-- 要編集 -->
<% current_user.entries.each do |entries|  %>
            <tr>
               
                  <td>
                      <%= entries.selection_status.name %>
                  </td>

                  <td>
                    <span class="txt_size_10">
                      応募日：<%= entries.job.created_at %><br>
                    </span>
                  </td>

                  <td>
                    <div class="job-data-min">
                      

                      <div class="job-data-min__info">
                        <span class="job-cmp"><%= entries.job.client.name %></span>
                        <p class="job-title">
                          <%= link_to entries.job.title, "/jobs/#{entries.job.id}" %>
                        </p>


                        <% if entries.selection_status.id == 2 %>
                        <%= link_to "メッセージ", new_message_path(user_id: current_user.id, client_id: entries.job.client.id),class: "btn btn--xxsmall w-block mb_1 not-adopted-btn" %>
                        <% end %>
                      </div>
                    </div>
                  </td>

                  <td>
                      <% if entries.selection_status.id == 1 %>
                        <%= link_to "辞退", entry_refuse_users_path(entry_id: entries.id, selection_status_id: 5),class: "btn btn--xxsmall w-block mb_1 not-adopted-btn" %>
                      

                      <% elsif entries.selection_status.id == 2 %>
                      <%= link_to "内定", entry_adoption_users_path(entry_id: entries.id, selection_status_id: 3),class: "btn btn--pt1 btn--xxsmall w-block mb_1 employed-report-btn" %>
                      <%= link_to "辞退", entry_refuse_users_path(entry_id: entries.id, selection_status_id: 5),class: "btn btn--xxsmall w-block mb_1 not-adopted-btn" %>

                      <% else %>

                      <% end %>
                  </td>

                </tr>
            </tbody>

            <% end %>

            

          </table>
        </div>
        <div class="mypage-box__footer">
          
        </div>
      </div>
    </section>
  </div>
</div>

    </div>
    <!-- content-main--mypage -->
  </div>
  <!-- warrper--mypage -->
</div>