  <div class="content">
  <div class="contents-head">
    <div class="table_row clear mt_30 mb_30">
      <div class="cols_3 v_middle">
        <h1 class="txt_size_20">会員登録</h1>
      </div>
      <div class="cols_9">
        <ul class="step_chart step_chart__cols3">
          <li class="step_chart__cols active"><span class="step_chart__cols__block">基本情報の登録</span></li>
          <li class="step_chart__cols"><span class="step_chart__cols__block">登録内容の確認</span></li>
          <li class="step_chart__cols"><span class="step_chart__cols__block">登録完了</span></li>
        </ul>
      </div>
    </div>

  </div>
  
    <img class="" alt="お祝い金をもらうまでの3ステップ" src="/assets/img_admission-2.png">

<h2 class="heading2-pt6 mt_30">基本情報</h2>
<%= form_for @user do |f| %>
<section class="box-pt2 mb_30">
  <table class="table table-set--pt1 table--thd-20 w-block txt_size_12">
    <colgroup>
      <col style="width:200px;">
    </colgroup>


    <tbody>
      

      <tr>
        <th><%= f.label :名前 %><span class="label label--pt3 label--small">必須</span>
        </th>
        <td>
          <%= f.text_field :name %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :ふりがな %><span class="label label--pt3 label--small">必須</span>
        </th>
        <td>
          <%= f.text_field :name_kana %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :メールアドレス %><span class="label label--pt3 label--small">必須</span>
        </th>
        <td>
          <%= f.text_field :mail %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :パスワード %><span class="label label--pt3 label--small">必須</span>
        </th>
        <td>
          <%= f.password_field :password %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :確認用パスワード %><span class="label label--pt3 label--small">必須</span>
        </th>
        <td>
          <%= f.password_field :password_confirmation %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :都道府県 %><span class="label label--pt3 label--small">必須</span>
        </th>
        <td>
          <%= f.text_field :prefecture_id %>
        </td>
      </tr>

      <tr>
        <th><%= f.label :市区町村 %><span class="label label--pt3 label--small">必須</span>
        </th>
        <td>
          <%= f.text_field :city %>
        </td>
      </tr>

       </tbody>
  </table>
</section>

  <section class="box-pt3 p_20 t_center txt_size_14">
      <p class="mb_15">サービスお申し込みの前に、<a href="https://relax-job.com/info/terms" target="_blank">利用規約</a>をご一読の上、同意いただけますようお願いいたします。<br>お申し込みには、規約への同意が必要となります。</p>

      <%= f.submit "利用規約に同意して会員登録する", class: "btn btn--pt3 btn--large w-280px submit_btn" %>
    </section>

 <% end %>
 <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
          <%= yield %>
        </div>
</div>

