<h1> プロフィール詳細 </h1>

<%= link_to "プロフィールを編集する", "/users/#{current_user.id}/edit" %>

<h3>名前:</h3>
<%= current_user.name %>

<h3>ふりがな:</h3>
<%= current_user.name_kana %>

<h3>メールアドレス:</h3>
<%= current_user.mail %>

<h3>パスワード:</h3>
<%= current_user.password %>

<h3>確認用パスワード:</h3>
<%= current_user.password_confirmation %>

<h3>都道府県:</h3>
<%= current_user.prefecture_id %>

<h3>市区町村:</h3>
<%= current_user.city %>