<h1>企業アカウント作成フォーム</h1>

<%= form_for @client do |f| %>

  <div class = "field">
   <%= f.label :name %>
   <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :mail %>
    <%= f.text_field :mail %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class ="actions">
    <%= f.submit "submit" %>


 <% end %>


<div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>