<div class="content content--mypage">
  <div class="content-head">
    <ul class="breadcrumb--pt1">
      <li><a href="/">ホーム</a></li>
      <li><span>企業アカウント作成</span></li>
    </ul>
    <h1 class="heading1-pt1">企業アカウント作成</h1>
  </div>

<%= form_for @client do |f| %>

  <div class = "field">
   <%= f.label :name %>
   <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :mail %>
    <%= f.text_field :mail %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class ="actions">
    <%= f.submit "submit" %>


 <% end %>


<div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
</div>