<h1>店舗の編集</h1>


    <%= form_for @shop, :url => {:controller => 'clients', :action => 'shop_edit'}  do |f| %>
      <%#= render 'shared/error_messages' %>

      <%= f.label :企業ID %>
      <%= f.text_field :client_id, class: 'form-control' %>

      <%= f.label :店舗名 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
