<h1>スカウト</h1>



求職者検索
  <%= form_for(@user, url: {controller: :scouts, action: :user_search}, html: {method: "get"}) do |f| %>
  

      <%= f.label :都道府県 %>
      <%= f.select :prefecture_id, Prefecture.all.map { |p| [p.name, p.id] }, prompt: "選んでちょんまげ" %>
      
      <%= f.label :職種 %>
      <% JobType.all.each do |job_types| %>
      <%= job_types.name %>
        <%= f.check_box :job_types_id, { multiple: true, checked: job_types[:checked], disabled: job_types[:disabled], include_hidden: false }, job_types.id, nil %>
        <% end %>

      <%= f.submit "検索する", class: "btn btn--pt5 w-200px " %>
  <% end %>



  <% @users.each do |user| %>
	<ul>
	  <li>

	  	<%= user.prefecture.name %>
	
	  	<%= user.city %>
	  
	  	<%= user.job_types.map{|job_type|job_type.name}.join(",") %>
	  </li>

	</ul>
	<% end %>