<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://relax-job.com/assets/user_frontend/pc/application-765ad29b1f81b32813190eac8b604ab4.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<header>
  <div class="header">

    <div class="header-top">
      <div class="container">
        <ul class="header-top__navi">

          <% if admin_user_logged_in? %>
            <li><%= link_to "ログアウト(社内)", admin_user_logout_path, method: :delete %></li>
            <li><strong> Logged in as "<%= current_admin_user.mail %>"</strong></li>

          <% else %>
            <li><%= link_to "社内ログイン", admin_user_login_path %></li>
          <% end %>

          <% if client_logged_in? %>
            <li><%= link_to "企業様管理画面", admin_top_path %></li>
            <li><%= link_to "ログアウト(client)", client_session_delete_path, method: :delete %></li>
            <li><strong> Logged in as "<%= current_client.mail %>"</strong></li>
          <% else %>
            <li><%= link_to "企業様ログイン", new_client_session_path %></li>
          <% end %>

          <% if user_logged_in? %>
            <li><%= link_to "マイページ", user_path(session[:user]) %></li>
            <li><%= link_to "ログアウト", user_session_delete_path, method: :delete %></li>
            <li><strong> Logged in as "<%= current_user.mail %>"</strong></li>
          <% else %>
            <li><%= link_to "会員登録", new_user_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <div class="header-middle container clear">
    <a class="header-middle__logo" href="/"><img class="logo_header" src="/assets/logo_header.png" alt="Logo header"></a>

    <div class="header-middle__dropdown">
      <span class="header-middle__dropdown__btn js_dropdown__menu">業種から探す</span>
    </div>

    <ul class="header-middle__nav">
      <% if user_logged_in? %>
        <li><%= link_to "キープ", "/users/#{current_user.id}/keep_status" %><i class="icon-attach"></i></li>
        <li><%= link_to "応募管理", "/users/#{current_user.id}/entry_status" %><i class="icon-paper-plane"></i></li>
        <li><%= link_to "スカウト管理", "/users/#{current_user.id}/scout_status" %></li>
        <li><%= link_to "マイページ", user_path(session[:user]) %><i class="icon-paper-plane"></i></li>
      <% end %>
      
    </ul>
</header>

<div>
  <%= yield %>
    <div class="content mt_30">
    </div>
</div>




  <footer>
  <div class="footer">
    <div class="container">
      <div class="row row-mg footer--content">
        <div class="cols_6 f_left">
          <dl class="footer-nav">
            <dt>美容</dt>
            <dd>
              <ul class="ul-inline ul-inline--col5 ul--p_tb2">
                <li><a href="http://localhost:3000/jobs/search?utf8=%E2%9C%93&job%5Bprefecture_id%5D=&job%5Bjob_types_id%5D%5B%5D=1&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B">エステ</a></li>
                <li><a href="http://localhost:3000/jobs/search?utf8=%E2%9C%93&job%5Bprefecture_id%5D=&job%5Bjob_types_id%5D%5B%5D=2&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B">ネイル</a></li>
                <li><a href="http://localhost:3000/jobs/search?utf8=%E2%9C%93&job%5Bprefecture_id%5D=&job%5Bjob_types_id%5D%5B%5D=3&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B">アイリスト</a></li>
                <li><a href="http://localhost:3000/jobs/search?utf8=%E2%9C%93&job%5Bprefecture_id%5D=&job%5Bjob_types_id%5D%5B%5D=4&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B">美容師</a></li>
              </ul>
            </dd>

            <dt>リラクゼーション</dt>
            <dd>
              <ul class="ul-inline ul-inline--col5 ul-inline--p_tb5">
                <li><a href="http://localhost:3000/jobs/search?utf8=%E2%9C%93&job%5Bprefecture_id%5D=&job%5Bjob_types_id%5D%5B%5D=6&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B">セラピスト</a></li>
              </ul>
            </dd>
          </dl>
          <div class="row row-mg clear">
            <div class="cols_6">
              <dl class="footer-nav">
                <dt>治療</dt>
                <dd>
                  <ul class="ul-inline ul-inline--col3 ul-inline--p_tb5">
                    <li><a href="http://localhost:3000/jobs/search?utf8=%E2%9C%93&job%5Bprefecture_id%5D=&job%5Bjob_types_id%5D%5B%5D=5&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B">柔道整復師</a></li>
                    
                  </ul>
                </dd>
              </dl>
            </div>
            <div class="cols_6">
              <dl class="footer-nav">
                <dt>スポーツ・フィットネス</dt>
                <dd>
                  <ul class="ul-inline ul-inline--col3 ul-inline--p_tb5">
                    <li><a href="http://localhost:3000/jobs/search?utf8=%E2%9C%93&job%5Bprefecture_id%5D=&job%5Bjob_types_id%5D%5B%5D=7&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B">ヨガ</a></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
          <dl class="footer-nav">
            <dt><a href=https://relax-job.com/kaigo>リジョブ 介護</a></dt>
            <dd>
              <ul class="ul-inline ul-inline--col5 ul-inline--p_tb5">
                <li><a href=https://relax-job.com/kaigo>介護</a></li>
              </ul>
            </dd>
          </dl>
        </div>

        <div class="cols_3 f_left">
          <dl class="footer-nav">
            <dt>企業様メニュー</dt>
            <dd>
              <ul class="ul-list-none ul--p_tb2">
                <li><a href="http://localhost:3000/client_sessions/new" target="_blank">企業様ログイン</a></li>
              </ul>
            </dd>
            <dt>リジョブについて</dt>
            <dd>
              <ul class="ul-list-none ul--p_tb2">
                <li><a href=https://relax-job.com/info/terms>利用規約</a></li>
                <li><a href="https://rejob.co.jp/company?utm_medium=rejob&amp;utm_source=relax-job.com" target="_blank">会社概要</a></li>
              </ul>
            </dd>
          </dl>
        </div>
        <div class="cols_3 f_left">
          <a class="footer--content__bunner" href="/lp/new_inquiry">
            <img class="" src="/assets/img_footerbunner.png" alt="Img footerbunner">
          </a>
        </div>
      </div>
      <span class="go-top" id="scroll-top"></span>
    </div>
    <div class="copyright">
      <div class="container t_left">
        <small>© REJOB Co.,Ltd. All Rights Reserved.</small>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
